cmake-build*
cmake-vscode-build/*
build/
vtune/
.idea/
.vscode/
/.run/
*.cache.bin
*.cache.*.bin
/Release/bin/*log
/Release/bin/books/
/Release/bin/config/
/Release/FrankyCPP_v*/
!/Release/FrankyCPP_v*.zip
/books/superbook_xl.pgn
/Testing/
