cmake-build-debug/
cmake-build-release/
cmake-build-relwithdebinfo/
cmake-build-minsizerel/
cmake-build-default/
build/
.idea/
.vscode/
*.cache.*
/Release/bin/books/
/Release/bin/config/
/books/superbook_xl.pgn

