# FrankyCPP config file

# Uses Boost program options
# https://www.boost.org/library/latest/program_options/

log_lvl=warn
search_log_lvl=warn

#book=./books/book.txt
#booktype=SIMPLE
#book=./books/8moves_GM_LB.pgn
#booktype=PGN
